body
{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(60, 56%, 95%);
}
#calculatorBox
{
    height: 500px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 3fr;
    border-style: solid;
    border-color: hsl(0, 0%, 40%);
    border-width: 10px;
    border-radius: 10px;
}
.display
{
    /* word-break: break-all; */
    text-align: right;
    text-decoration: none;
    background-color: hsl(200, 100%, 50%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
    border: inset;
}
#outputDisplay
{
    font-size: 150%;
    white-space: pre;
    overflow-y: scroll;
    overflow-x: hidden;
}
#inputDisplay
{
    font-size: 250%;
    overflow-x: hidden;
}
#buttonGrid
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: hsl(0, 0%, 40%);
}
.buttonAppearance
{
    background-color: hsl(0, 0%, 90%);
    border-radius: 5px;
    font-size: 125%;
    text-decoration: none;
    cursor: pointer;
    border: outset;
}
.buttonAppearance:hover
{
    background-color: hsl(0, 0%, 99%);
}
#numberButtonGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#operatorButtonGrid
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
}
.operatorButton
{
    background-color: hsl(40, 100%, 50%);
}
.operatorButton:hover
{
    background-color: hsl(40, 100%, 70%);
}
#functionButtonGrid
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
}